.loginbox {
  width: 30%;
  height: 500px;
  background-image: radial-gradient(circle, darkslategray 0%, darkslategray 100%);
  margin: 20px 0px;
}

.loginhead {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

button {
  width: 100px;
}

.btnholder {
  text-align: center;
}

.btnholder a {
  color:rgb(68, 0, 255);
}

label {
  color: white;
}
